[Title]: # (Verificación de llave)
[Order]: # (71)

# Verificación de clave 

En la criptografía de clave pública, cada persona tiene un conjunto de claves. Para enviar un mensaje de forma segura a una persona en particular, cifre su mensaje usando su clave pública. Un atacante puede engañarlo para que use su clave, lo que significa que podrá leer su mensaje, en lugar del destinatario deseado. Eso significa que debe verificar que una persona en particular esté usando una clave. La verificación clave es cualquier forma que le permita hacer coincidir una clave con una persona.