[Title]: # (Verificación fuera de banda)
[Order]: # (85)

# Verificación fuera de banda 

"Fuera de banda" significa cualquier forma de comunicación fuera del método actual. La verificación de la identidad de la persona con la que está hablando a través de un sistema de comunicación inseguro a menudo requiere la comunicación fuera de banda a través de otro método que es menos vulnerable al mismo tipo de ataque. Entonces, por ejemplo, puede verificar que esté utilizando la clave pública correcta de alguien hablando con él o ella en persona, antes de usarla para encriptar su correo electrónico.